<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="lipstick-list">Lipstick</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="auth/signup">Créer un compte</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="auth/signin">Connexion</a>
            </li>
        </ul>
    </div>
</nav>