<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="../../assets/images/site-logo.svg" width="100px" class="d-inline-block align-middle" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="lipstick-list">Lipstick collection app</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signin">Connexion</a>
            </li>
            <li *ngIf="isAuth"><a class="nav-link" (click)="onSignOut()">Déconnexion</a></li>
        </ul>
    </div>

</nav>