<div class="row">
    <div class="col-12">
        <h2>My collection</h2>
        <div class="list-group">
            <div class="list-group-item"
                    *ngFor="let lipstick of lipsticks; let i = index">
                <div class="row">
                    <div class="col-8">
                        <h3 class="shade-info-name">
                            Shade : {{ lipstick.name }}
                        </h3>
                        <span class="shade-info-description">{{ lipstick.color }}</span>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-delete float-right" (click)="onDeleteLipstick(lipstick)">Delete</button>
                        <button class="btn btn-details float-right" (click)="onViewLipstick(i)">Details</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="onNewLipstick()">Add a lipstick</button>
    </div>
</div>